@tailwind base;
@tailwind components;
@tailwind utilities;

/* :rootはWebページ全体の一番大元をさす */
:root {
  --background: #eff9fd;
  --foreground: #eff9fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #eff9fd;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
}

